$purple: #24053E;
$lightPurple: #5E4AE3;
$green: #45FEA1;
$grey: #F2F2F2;

@font-face /*h1 fonts*/{
    font-family: "fraunces";
    src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face /*general font*/{
    font-family: "manrope" ;
    src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}
body, *{
    margin: 0;
    padding: 0;
    font-family: "manrope", sans-serif;
    font-size: 12px;
}

h1, h2, h3, .underlined {
    font-family: "fraunces", sans-serif;
}
main{
    background-color: $grey;
}

  header{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    background-color: $purple;
    color: white;
    /* only for desktop background-image: url(assets/images/bg-pattern-1.svg); */
    
    
    a{
        color: white;
        text-decoration: none;
        border-bottom: 1px solid $green;
    }
  }

  h1, .underlined{
    font-family: "fraunces", sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
    margin-bottom: 3rem;
  }
  .underlined{
    margin: 0;
        text-decoration: underline;
        text-decoration-color: $green;
  }

  .intro-card{
    background: $purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    border-radius: 0 0 50% 50% / 20px;
    margin-bottom: 12.5rem;

    a{
        background: $green;
        margin-top: 2rem;
        padding: 1rem 2rem 1rem 2rem;
        font-weight: bold;
        text-decoration: none;
        color: $purple;

    }
    picture{
        width: 100%;
    }
    img{
        width: 60%;
        position: relative;
        top: 5rem;
        left: 25%;
        z-index: 2;
      }
  }

article{
    background: $grey;
    border-radius: 0 0 50% 50% / 20px;
    z-index: 20;
    margin-top: 2rem;
    padding-bottom: 10rem;
    margin-bottom: 0;
    z-index: 5;
    position: relative;
}

section p{
    color: $purple;
    text-align: center;
    line-height: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

section .circle{
    font-family: "fraunces", sans-serif;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid $purple;
    border-radius: 50px;
    margin: auto;
    margin-top:4rem;
}

.sectionTitle{
    color: $purple;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-family: "fraunces", sans-serif;
}

.botSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: white;
    padding: 2rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
    border-radius: 0 0 50% 50% / 20px;
}

.founderImg{
    margin-top: 5rem;
    padding-top: 0;
    width: 40rem;
    margin-bottom: -8rem;
}

.botContainer{
    display: flex;
    flex-direction: column;
    background: $purple;
    padding-bottom: 8rem;
    h3{
        text-align: center;
        font-size: 4rem;
        margin: 2.5rem;
    }
    p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 3rem;
        margin: 0 5rem 5rem 2rem;
    }
}
.apply{
    margin: auto;
    background: $green;
    padding: 2rem 2rem 2rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: $purple;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $grey;
    margin-top: -3rem;
}

.botLogo{
    margin: auto;
    width: 12rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.footerLinks{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    a{
      margin: 0 1.5rem 0 1.5rem;
    }

}

@media screen and (min-width: 900px){ 

    body, *{
        margin: 0;
        padding: 0;
    }

    header a{
        font-size: 2rem;
        font-weight: 500;
        margin-right: 5rem;
    }

    header img{
        width: 10rem;
        margin-left: 5rem;
    }

    .intro-card a{
        padding: 2rem 4rem 2rem 4rem;
        font-size: 2.5rem;
    }

    html{
        position: relative;
        top:0;
        right:0;
    }
  
    article{
        display: flex;
        flex-direction: row;
        min-width: 100vh;
    
    }
    .intro-card{
        background-image: url(assets/images/bg-pattern-1.svg), url(assets/images/bg-pattern-2.svg);
        background-position: -10% 0, 100% 50%;
        background-repeat: no-repeat;
        h1, .underlined{
            font-size: 7rem;
            max-width: 50rem;
        }
    }

    .botContainer{
        background-image: url(assets/images/bg-pattern-2.svg);
        background-position: 100% 80%;
        background-repeat: no-repeat;
    }
    .botSection{
        display: flex;
        flex-direction: row;
        background: $grey;
    }
    .founderImg{
        position: relative;
        top: -5rem;
        left: 5rem;
    }
    .botContainer{
        position: relative;
        top: 20rem;
        right: 4rem;
        max-width: 70rem;
        h3{
            text-align: left;
            margin: 3rem 0 1rem 3rem;
        }
        p{
            text-align: left;
            margin: 3rem;
            margin-right: 4.5rem;
            font-size: 2rem;
        }
        a{
            margin-right: auto;
            margin-left: 3rem;
        }
    }
    article{
        padding-bottom: 2rem;
        border-radius: 0 0 50% 50% / 20px;
    }
    .botSection{
        z-index:5 ;
        background: white;
    }
    footer{
     
        z-index: 10;
        background: white;
        padding-top: 20rem;
    }
}